.subcategory-wrapper {
  height: 650px;
  width: 100%;
}

.carousel-catption {
  position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

#categories {
  height: 650px;
  width: 100%;
}

.carousel-catption {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
